name: Latest posts workflow
on:
 schedule:
   - cron: '30 23 * * *'
 workflow_dispatch:
jobs:
 update-readme-with-blog:
   name: Update this repo's README with latest blog posts
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v2
     - uses: gautamkrishnar/blog-post-workflow@master
       with:
         
         feed_list: "https://41k36u14n.github.io/feed.xml"
         max_post_count: 10
         template: "- [$title]($url)  $newline"
         date_format: 
         tag_post_pre_newline: true
